# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Git files
.git/
.gitignore

# Logs
logs/
*.log

# SQLite database
data/

# Docker-related
Dockerfile
docker-compose.yml

# IDE files
*.swp
*.idea/
*.vscode/

